nav.header-nav 
    a(href="") 
        img(src="/images/Logo.webp", alt="")
    ul.header-nav__list 
        li.header-nav__list--link 
            a(href="") Home
        li.header-nav__list--link 
            a(href="") Recipes
        li.header-nav__list--link 
            a(href="") Article
        li.header-nav__list--link 
            a(href="") Contact
        li.header-nav__list--link 
            a(href="") Purchase
    i.fa.fa-search